/* ---- TEXT ANIMATION - FADEOUT-IN (HOME MAIN TEXT) ---- */

#t1 {
    animation-name: t1;
}

#t2 {
    animation-name: t2;
}

#t3 {
    animation-name: t3;
}

@keyframes t1 {
    0% {
        opacity: 0;
    }
    16.66% {
        opacity: 1;
    }
    33.33% {
        opacity: 0;
    }
}

@keyframes t2 {
    33.33% {
        opacity: 0;
    }
    49.99% {
        opacity: 1;
    }
    66.65% {
        opacity: 0;
    }
}

@keyframes t3 {
    66.65% {
        opacity: 0;
    }
    83.31% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/* ---- ITEM SUSPENSION---- */

@keyframes item-suspension {
    0% {
        top: 0;
    }
    50% {
        top: 25px;
    }
    100% {
        top: 0;
    }
}


/* ----TEXT UP & DOWN ---- */

@keyframes change {
    0% {
        margin-top: 0;
    }
    9% {
        margin-top: 0;
    }
    11.11% {
        margin-top: -49px;
    }
    20.11% {
        margin-top: -49px;
    }
    22.22% {
        margin-top: -97px;
    }
    31.22% {
        margin-top: -97px;
    }
    33.33% {
        margin-top: -49px;
    }
    42.33% {
        margin-top: -49px;
    }
    44.44% {
        margin-top: 0;
    }
    53.44% {
        margin-top: 0;
    }
    55.55% {
        margin-top: 49px;
    }
    64.55% {
        margin-top: 49px;
    }
    66.66% {
        margin-top: 97px;
    }
    75.66% {
        margin-top: 97px;
    }
    77.77% {
        margin-top: 49px;
    }
    86.77% {
        margin-top: 49px;
    }
    88.88% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes change1 {
    0% {
        margin-top: 74px;
    }
    12.47% {
        margin-top: 74px;
    }
    14.58% {
        margin-top: 24px;
    }
    27.05% {
        margin-top: 24px;
    }
    29.16% {
        margin-top: -26px;
    }
    41.63% {
        margin-top: -26px;
    }
    43.74% {
        margin-top: -76px;
    }
    56.24% {
        margin-top: -76px;
    }
    58.35% {
        margin-top: -26px;
    }
    70.82% {
        margin-top: -26px;
    }
    72.93% {
        margin-top: 24px;
    }
    85.4% {
        margin-top: 24px;
    }
    87.51% {
        margin-top: 74px;
    }
    100% {
        margin-top: 74px;
    }
}