.skills__prof {
    display: grid;
    gap: 2em;
    position: relative;
    p {
        color: $scnd-DColor;
        @include sm {
            padding: 0 3.6em;
        }
    }
        .prof__title {
            text-transform: uppercase;
            color: $main-DColor;
            font-weight: 700;
            position: relative;
    }
    .prof__techs {
        overflow: hidden;
        height: 1.46em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        .animated6Txt {
            animation: change 8s infinite;
        }
        .animated3Txt {
            animation: change2 4s infinite;
        }
        li {
            color: $scnd-DColor;
        }
    }
    .prof__logos {
        display: flex;
        justify-content: center;
        gap: 0.5em;
        .skill__logo {
            width: 3em;
        }
        @include xs {
            gap: 1em 0.5em;
            flex-wrap: wrap;
            width: 56%;
            margin: auto;
        }
    }
    .prof__focus {
        color: $scnd-DColor;    
    }
    .prof__imgFocus {
        width: 2.5em;
        margin: auto;
    }
}


.slick-list {
    height: 50vh;
    cursor: grab;
    display: grid;
    place-content: center;
    @include hd {
        height: 62vh;
    }
    @include sm {
        height: 56vh;
        margin-top: 2em;
    }
    @include xs {
        margin-top: 0;
        height: 71vh;
    }
}


/* Arrows */
.slick-prev:before, .slick-next:before {
    color: $scnd-DColor;
    position: absolute;
    z-index: 999;
    font-size: 1.25em; 
}
.slick-prev, .slick-next {
    font-size: 1.25em;
    top: 11em;

}
.slick-prev {
    left: -3.3em;
}
.slick-next {
    right: -3em;
}