.nav_mobile-container {
    .bottom-gradient, .top-gradient {
        height: 15vh;
        width: 100vw;
        position: fixed;
        z-index: 50;
    }
    .bottom-gradient {
        bottom: 0;
        background: linear-gradient(rgba(13, 20, 37, 0) 10%, rgb(14, 19, 41) 70%);
    }
    .top-gradient {
        top: 0;
        height: 19.5vh;
        background: linear-gradient(rgb(14, 19, 41) 69%, rgba(13, 20, 37, 0) 100%);
    }
}

.nav_mobile {
    display: flex;
    padding: 2rem 1.8rem;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
    background: linear-gradient(rgb(14 19 41) 85%) -43%, rgb(13 20 37 / 0%);
    .logo__small {
        width: 3rem;
        cursor: pointer;
    }
}