/* PROJECTS  */
.m-top {
    @include sm {
        margin-top: 11em;
    }
}

.experiencesSec {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template-columns: 45%;
    h2 {
        @include txtDegrade;
        margin-top: 1em;
        text-align: center;
        font-size: 3em;
        @include sm {
            font-size: 2.5em;
        }
    }
    p {
        color: $scnd-DColor;
    }
    .planet {
        width: 14em;
        margin: auto;
        margin-top: 3em;
        @include hd {
            display: none;
        }
        @include md {
            display: block;
        }
    }
}

.experiences__lineTime {
    @include hd {
        margin-bottom: -3em;
        margin-top: 1.5em;
    }
    @include md {
        margin: 0;
    }
    .lineTime__active {
        width: 6px;
        height: 26em;
        border: 2px solid transparent;
        border-image: linear-gradient(45deg, #99c6ff00, #8ec0ffa1, #9bc3ffc9, #8dabd0, #99c6ff00);
        border-image-slice: 1;
        margin: auto;
        position: relative;
        top: -9px;
        @include hd {
            height: 30em;
        }
        @include md {
            height: 26em;
        }
        ul {
            li:nth-child(2) {
                .lineTime__box {
                    transform: rotate(180deg);
                    .box__al {
                        transform: rotate(180deg);
                    }
                    div {
                        transform: rotate(180deg);
                    }
                }

            }
        }
    }
    }

ul {
    li {
        .lineTime__box {
            display: flex;
            position: absolute;
            background: linear-gradient(70deg, #00011436, #00000000);
            align-items: center;
            height: 5.5em;
            width: 15em;
            cursor: pointer;
            transition-duration: 2s;
            @include sm {
                width: 11em;
            }
            &:hover {
                border: 1px solid transparent;
                border-image: linear-gradient(+90deg, #99c6ff00 8%, #8ec0ff, #9bc3ffbf 70%, #99c6ff00, #99c6ff00);
                border-image-slice: 1;
                border-right: none;
                border-left: none;
                position: absolute;
                z-index: 100;
            }
            img {
                width: 5.8em;
                position: absolute;
            }
            .box__al {
                right: 12.1em;
                @include sm {
                    right: 8.3em;
                }
            }
            .box__ar {
                left: -3.09em;
                transform: rotate(180deg);
            }
            div {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 100%;
            }
        }
        .lineTime__box-bloyd {
            top: 6%

        }
        .lineTime__box-kucoin {
            left: 0.3em;
            bottom: 12%;
        }
        .lineTime__box-newline {
            left: -15.2em;
            bottom: 42.3%;
            @include sm {
                left: -11.2em;
            }
        }
    }
}