/* **** CONFIGS | CUSTOM PROPERTY **** */

/* Dark Mode - Colors */
$main-DColor: #e2e8ef; /* Color principal */
$scnd-DColor: #94a3b8; /* Color secundario */
$hover-DColor: #4c8eff; /* Hover */
$dg-DColor: #2c61afa8; /* Degradado */
$bg-DColor: #131829; /* Color de fondo */
$bg-DScndColor: rgb(40 45 56); /* Color secundario de fondo */

@mixin mDegrade($degLine) {
    background: $degLine;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Tipografias */
$main-typo: 'Blinker'; 
$scnd-typo:  Calibri, 'Trebuchet MS', sans-serif;


/* --- SCROLLBAR PRO CSS - HABILITADA ---*/ 
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, $bg-DScndColor);
    border-radius: 33%;
}

/* --- TEXTO SELECCIONADO ---*/
::selection {
    background-color: $bg-DColor;
    color: $main-DColor;
}

.gCenter {
    display: grid;
    place-content: center;
}

a {
    cursor: pointer;
    color: $main-DColor;
    &:visited {
        color: $main-DColor;
    }
    &:hover {
        color: $hover-DColor;
    }
}

body {
    background-image: url(../../public/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    @include hd {
        background-size: inherit;
    }
    section {
        @include md {
            height: 100vh;
        }
    }
    strong {
        font-weight: 400;
    }
}