@mixin txtDegrade {
    text-transform: uppercase;
    font-size: 4em;
    background: -webkit-linear-gradient($dg-DColor, $main-DColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    line-height: 1em;
}


@mixin modalEstandar {
    .modal {
        background: linear-gradient(90deg, transparent, $bg-DColor, $bg-DColor, rgb(26 28 58 / 97%), $bg-DColor, $bg-DColor, transparent);
        position: fixed;
        left: 0;
        right: 0; 
        top: 0;
        bottom: 0;
        z-index: 300;   
        min-height: 100vh;
        max-height: max-content;
        display: grid;
        place-content: center;
        text-align: center;
        @include lg {
        background: linear-gradient(90deg, $bg-DColor, $bg-DColor, $bg-DColor, rgb(26 28 58 / 97%), $bg-DColor, $bg-DColor, $bg-DColor);    
        }
        .modal__close {
            position: absolute;
            z-index: 310;
            height: 100vh;
            width: 100%;
        }
    }
}


@mixin clasicBtn {
    .cls-btn {
        background: $bg-DColor;
        border: 0.01em solid $scnd-DColor;
        cursor: pointer;
        width: 14em;
        padding: 0.5em 0 0.6em;
        color: $scnd-DColor;
        margin: auto;
        transition: color, border, 1.5s;
        letter-spacing: 0.1em;
        text-align: center;
        margin-top: 1em;
        span {
            font-size: 0.9em;
        }
        &:hover {
            color: $main-DColor;
            border: 0.03em solid $main-DColor;
        }
    }
}