.projects {
    @include modalEstandar;
    position: relative;
    margin-bottom: 2em;
    z-index: 999;
    &__close {
        font-size: 1.5em;
        position: absolute;
        color: $scnd-DColor;
        cursor: pointer;
        &:hover {
            color: $main-DColor;
        }
        @include hd {
            top: 1em;
        }
        @include sm {
            top: -1em;
            right: -5.3em;
            font-size: 2em;
        }
    }
    .list__projects {
        .slick-prev, .slick-next {
            font-size: 1.5em;
            top: 9.3em;
            @include hd {
                top: 7.5em;
            }
        }
        .slick-prev {
            left: -3.8em;
        }
        .slick-next {
            right: -3em;
        }
        max-width: 40vw;
        @include hd {
            max-width: 60vw;
        }
        @include lg {
            max-width: 75vw;
        }
        @include md {
            max-width: 70vw;
        }
        @include sm {
            max-width: 100vw;
        }
       .slick-list {
        height: max-content;
       }
       .slick-prev {
            @include sm {
                left: 4.7em;
                top: 2.85em;
                z-index: 9999;
                font-size: 2em;
            }
        }
        .slick-next {
            @include sm {
                right: 4.7em;
                top: 2.85em;
                z-index: 9999;
                font-size: 2em;
            }
        }
    }
} 

