/* 
- 4096X2160| 4k -- BAD CHICO
- 2048X1080 | 2k -- BAD CHICO
- 1920x1080 | Slide 16:9 full hd
- 1440x1024 | Destkop
- 1280x720 | iMac -- SOW SOW
- 1024x780  | Slide 4:3
- 768X1024  | Ipad Mini -- BAD BAD BAD
- 375x812   | Iphone X
- 320x568 | iPhone SE

*/

@media screen and (min-width: 1024px) {
    #rep2 {
        display: none;
    }
}


/* 1980 - 1441 */

@media screen and (max-width: 1980px) {
    .about-container {
        padding-top: 10vh;
    }
}


/* 1440 - 1025 */

@media screen and (max-width: 1440px) {
    .footer-title {
        padding-bottom: 14%;
    }
    .tyvisit img {
        width: 70%;
    }
    .hire-me {
        right: 24%;
        width: 51%;
    }
}


/* 1024 */

@media screen and (max-width: 1024px) {
    .about-efec {
        font-size: 90px;
    }
    .about-perfil {
        margin-bottom: 0px;
    }
    .about-perfil .perfil {
        width: 85px;
        top: -215px;
        right: 105px;
    }
    .about-perfil .en-perfil {
        width: 85px;
        top: -214px;
        right: 34px;
    }
    .about-perfil .en-nav-efect {
        top: -200px;
        left: 100px;
        width: 55%;
    }
    .perfil-container {
        padding-top: 5vh;
    }
    .nav-efect {
        top: -200px;
        left: 27px;
        width: 55%;
    }
    .about-container {
        padding-top: 3vh;
    }
    .fixed {
        top: -69px;
        right: 17px;
    }
    .skill-title .about-efec {
        font-size: 60px;
    }
    .en-fixed {
        top: -102px;
        right: 72px;
        font-size: 90px !important;
    }
    .fixed .et-top {
        left: 92px;
        top: 21px;
    }
    .en-fixed .et-top {
        left: 92px;
        top: 21px;
    }
    .project-title {
        padding-top: 4vh;
    }
    .project-title .about-efec {
        font-size: 40px;
    }
    .project-title img {
        width: 145px;
    }
    .project-title h2 {
        font-size: 45px;
    }
    .footer-title h2 {
        font-size: 40px !important;
    }
    .footer-title {
        padding-bottom: 12%;
    }
    .border-effect {
        margin-top: 14vh;
    }
    .projects .about-efec {
        font-size: 40px;
    }
    .hire-me {
        right: 28%;
        width: 41%;
        bottom: 10px;
    }
    #small-logo {
        padding-top: 4px;
        width: 50px;
        height: 47px;
    }
}


/* 1023 - 768 */

@media screen and (max-width: 1023px) {
    .body {
        background-size: cover;
    }
    .menu {
        display: none;
    }
    .socials {
        margin-top: 35px;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: fixed;
        z-index: 110;
    }
    .fa-bars {
        font-size: 30px;
    }
    .menu-lenguages a {
        font-size: 20px;
    }
    .menu-options-mobile {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100vw;
        top: 0;
        left: -100vw;
        bottom: 0;
        z-index: 100;
        background-color: #141b2e;
        text-align: center;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        transition: .3s;
    }
    .menu-options-mobile.is-active {
        left: 0;
    }
    .menu-options-mobile.is-active a {
        color: #6c84a1;
    }
    .menu-options-mobile.is-active a:hover {
        color: var(--text-second-color);
    }
    .menu-options-mobile ol {
        padding: 0;
    }
    .menu-options-mobile a {
        font-size: 40px;
        padding-top: 12px;
    }
    .menu-options-mobile .fab,
    .menu-options-mobile .far {
        font-size: 32px;
    }
    .menu-options-mobile li a {
        padding-top: 12px;
        width: 61px;
        height: 45px;
    }
    .flags {
        width: 25px;
        height: 16px;
    }
    .about-info p {
        max-width: 700px;
    }
    .about-perfil .perfil {
        display: none;
    }
    .nav-efect {
        top: -192px;
        left: 260px;
        width: 150px;
    }
    .about-efec {
        font-size: 80px;
    }
    #rep- {
        display: none;
    }
    .en-perfil {
        display: none;
    }
    .en-nav-efect {
        top: -200px !important;
        left: 286px !important;
        width: 150px !important;
    }
    .about-info {
        display: grid;
    }
    .about-main-text1 {
        grid-template-columns: 100%;
        margin-top: 0;
    }
    .general-statics {
        margin-top: 40px;
    }
    .footer-title .about-efec {
        font-size: 45px;
    }
    .footer-title {
        padding-bottom: 37%;
    }
    .footer-title h2 {
        font-size: 40px !important;
    }
    .fixed {
        top: -68px;
        right: 17px;
    }
    .fixed .et-top {
        left: 78px;
        top: 11px;
    }
    .hire-me {
        right: 27%;
        width: 50%;
        bottom: 39vh;
    }
}


/* 767 - 480 */

@media screen and (max-width: 767px) {
    .medium-nav {
        width: 350px;
    }
    .menu-options-mobile .fab,
    .menu-options-mobile .far {
        font-size: 22px;
    }
    .menu-options-mobile li a {
        width: 49px;
        height: 33px;
    }
    .nav-efect {
        top: -128px;
        left: 190px;
        width: 100px;
    }
    .about-efec {
        font-size: 53px;
    }
    .about-container {
        text-align: center;
    }
    .about-info {
        max-width: 344px;
    }
    .view-cv {
        display: block;
        margin: 18px auto;
    }
    .info-1 {
        margin: 0;
    }
    .ani-coint {
        display: block;
    }
    .fixed {
        font-size: 79px;
        top: -47px;
        right: 37px;
    }
    .border-effect {
        border-bottom: none;
        border-right: none;
        border-left: none;
        width: 350px;
    }
    .et-iz {
        display: none;
    }
    .et-der {
        display: none;
    }
    .skills-containers {
        width: 356px;
    }
    .border-effect .fa-angle-right {
        right: 10%;
    }
    .border-effect .fa-angle-left {
        left: 10%;
    }
    .skills {
        position: relative;
    }
    .skill-title .about-efec {
        font-size: 40px;
    }
    .footer-title .about-efec {
        padding: 0 20%;
    }
    .skills .border-effect {
        border-image: unset;
    }
    #newline,
    #studio-tower,
    #one-project {
        padding-left: 50px;
    }
    #bit,
    #wolffree {
        padding-right: 50px;
    }
    footer {
        height: 17vh;
    }
    .footer-title {
        padding-bottom: 67%;
    }
    .tyvisit img {
        width: 85%;
    }
    .projects {
        padding-left: 2vh;
    }
}


/* 479 - 0 (Desde 320 FIX) */

@media screen and (max-width: 479px) {
    h1 {
        font-size: 16px;
    }
    .menu-options-mobile a {
        font-size: 32px;
        padding-top: 12px;
    }
    .mobile-menu {
        background-color: #141a2d;
        top: 0;
        padding-top: 8%;
    }
    .medium-nav {
        width: 230px;
    }
    .nav-efect {
        display: none;
    }
    .about-description {
        margin: 0px;
        padding-right: 50px;
        padding-left: 15px;
    }
    .about-container {
        font-size: 16px;
        text-align: start;
        margin-top: 30px;
    }
    .about-efec,
    .fixed {
        font-size: 32px;
    }
    .about-info {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-perfil {
        margin-bottom: 10px;
    }
    .menu-logo {
        height: 37px;
    }
    #small-logo {
        padding-top: 0px;
        width: 41px;
        height: 37px;
    }
    .fa-bars {
        font-size: 25px;
    }
    .view-cv {
        margin: 18px 0px;
    }
    .menu-lenguages a {
        font-size: 16px;
    }
    .flags {
        width: 20px;
        height: 13px;
    }
    .border-effect {
        margin-top: 350px;
    }
    .fixed {
        right: 37px;
        top: -49px;
        font-size: 62px;
    }
    .fixed .et-top {
        width: 59px;
        top: -14px;
        left: 47px;
    }
    .project-linetime .project {
        width: 180px;
    }
    .project-title {
        margin-top: 200px;
    }
    .project-title img {
        width: 190px;
        margin-bottom: 45px;
    }
    #bit,
    #wolffree {
        padding-left: 30px;
        padding-right: 0px;
        float: left;
        text-align: start;
        background: linear-gradient(70deg, #00011436, #00000000);
    }
    .project-ball1 {
        left: -43px;
    }
    .project-ball {
        left: -46px;
    }
    .project-linetime {
        max-width: 200px;
    }
    .line-pr {
        margin: initial;
    }
    #wolffree:hover,
    #bit:hover,
    #studio-tower:hover,
    #one-project:hover,
    #newline:hover {
        border-image: linear-gradient(+90deg, #99c6ff00 7%, #8ec0ff 70%, #9bc3ffbf, #99c6ff00, #99c6ff00);
        border-image-slice: 1;
    }
}


/* 360 - 0 */

@media screen and (max-width: 375px) {
    .footer-title {
        padding-bottom: 54%;
    }
}


/* -HEIGHT -*/


/* 1080 - 720 */