/* ADEW */
.footerSec {
    display: grid;
    text-align: center;
    .adew {
        display: grid;
        h2 {
            @include txtDegrade();
        }
    
        .adew__container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            gap: 7em;
            position: relative;
            height: 100vh;
            .container__contactNow {
                position: absolute;
                text-transform: uppercase;
                width: 25%;
                height: 3.3em;
                background: linear-gradient(90deg, #00000000, #00011436, #00000000);
                border: 1px solid transparent;
                border-image: linear-gradient(+90deg, #99c6ff00, #8ec0ff3b, #9bc3ff26 60%, #99c6ff00 100%, #99c6ff00);
                border-image-slice: 1;
                border-right: none;
                border-left: none;
                cursor: pointer;
                bottom: 1em;
                overflow: hidden;
                &:hover {
                    border-color: $txtScndColor;    
                }    
                p {
                   line-height: 3.3em;
                   color: $txtMainColor;
                   animation-name: t1;
                }
            }
            .adew__planet {
                width: 66em;
            }
        }
    }
}


/* .hire-me:hover {
    color: #f2f2f2;
}

.hire-me .far {
    margin: 0px 10px;
    font-size: 16px;
}

.hire-me p {
    animation-name: t1;
    opacity: 0;
    animation-duration: 7s;
    animation-iteration-count: infinite;
} */