@mixin txtDegrade {
    text-transform: uppercase;
    font-size: 4em;
    background: -webkit-linear-gradient(#2c61afa8, #edf5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1em;
}

@mixin borderDegrade {
    text-transform: uppercase;
    font-size: 4em;
    background: -webkit-linear-gradient(#2c61afa8, #edf5ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    line-height: 1em;
}