/* Sección projecto extendidos en modal */
.projectsExt {
    @include modalEstandar;
    @include md {
        .xClose {
            display: none;
        }
    }
    &__carousel {
        z-index: 400;
        width: 42em;
        @include xs {
            width: 24em;
        }
        .carousel__container {
            display: flex;
            place-content: center;
            align-items: center;
            gap: 13em;
            margin-bottom: 3em;
            @include lg {
                gap: 8em;
            }
            @include md {
                gap: 0;
            }
            .fa-angle-left {
                left: 2em;
            }
            .fa-angle-right {
                right: 2em;
            }
            .arrow {
                font-size: 2em;
                z-index: 405;
                color: $txtMainColor;
                @include md {
                    margin-bottom: 13em;
                }
                @include sm {
                    margin-bottom: 12em;
                    position: absolute;
                }
                @include xs {
                    margin-bottom: 21em;
                }
                &:hover {
                    color: $txtScndColor
                }
            }
            .carousel__list__project {
                min-width: 100%;
            }
        }
    }

}

.list__project {
    min-width: 42em;
    display: grid;
    gap: 0.5em;
    @include sm {
        min-width: 40em;
    }
    @include xs {
        min-width: 24em;
    }
    .project__description {
        margin: 1.75em 0;
        padding: 0 2.3em;
        min-height: 15em;
        @include xs {
            padding: 0 1.5em;
            min-height: 34em;
        }
        strong {
            color: $txtMainColor;
            font-style: italic;
        }
    }
    img {
        width: 13em;
        margin: auto;
    }
    .project__title {
        font-weight: 700;
        font-size: 1.4em;
        color: $txtScndColor;
        font-style: italic;
        margin-top: -1.2em;
    }
    .project__site {
        display: flex;
        justify-content: center;
        gap: 0.3em;
    }
    .project__details {
        display: flex;
        justify-content: space-around;
        @include xs {
            flex-direction: column;
        }
        .details__rol {
            color: $txtScndColor;
        }
    }
}