/* Sección projecto extendidos en modal */
.projectsExt {
    @include modalEstandar;
    @include sm {
        height: initial;
        padding: 5em 0;
    }
    &__info {
        display: grid;
        gap: 1em;
        width: 42em;
        margin-top: 8em;
        position: relative;
        z-index: 400;
        @include fhd {
            gap: 0.5em;
        }
        @include lg {
            width: 30em;
        }
        @include sm {
            width: 21em;
            
        }
        img {
            width: 14em;
            margin: auto;
            position: absolute;
            left: 0;
            right: 0;
            top: -13em;
        }
        .info__project {
            font-weight: 700;
            font-size: 1.4em;
            color: $txtScndColor;
            font-style: italic;
        }
        .details__web {
            display: flex;
            gap: 0.3em;
            margin: auto;    
            font-style: italic;
        }
        .info__description {
            margin: 2em 0;
            strong {
                color: $txtMainColor;
                font-style: italic;
            }
        }
        .info__details {
            display: flex;
            justify-content: space-around;
            @include sm {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
            }
            }
            .details__rol {
                color: $txtScndColor;
                font-style: italic;
            }
        }
        .fa-xmark {
            top: -2em;
            @include hd {
                top: -1em;
            }
            @include lg {
                position: absolute;
                top: 0.4em;
                right: 8em;
                font-size: 2.5em;
            }
            @include md {
                top: 2em;
                right: 2em;
            }
            @include sm {
                top: 0.4em;
                right: 1.1em;
            }
        }
    }