/* MY SKILLS */
.carousel__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13em;
    @include md {
        gap: 2em;
    }
}

.skillsSec {
    display: grid;
    place-content: center;
    text-align: center;
    grid-template-columns: 24%;
    .fa-angle-right, .fa-angle-left {
        font-size: 2em;
        color: $txtMainColor;
        position: relative;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        &:hover {
            color: $txtScndColor
        }
    }
    .angle-prev {
        animation-name: arrows-movement-l;
    }
    .angle-next {
        animation-name: arrows-movement-r;
    }
    .skills__container {
        border: 1px solid $txtScndColor;
        height: 50vh;
        border: 3px solid transparent;
        border-image: linear-gradient(45deg, #8dabd0, #00275700, #2c61af00, #8dabd0, #bfbfbf00);
        border-image-slice: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3em;
        width: 30em;
        @include hd {
            width: 33em;
            height: 66vh;
            margin-top: 15vh;
        }
        @include lg {
            margin-top: 7%;
            height: 61vh;
        }
        @include md {
            margin-top: 2em;
            height: 50vh;
        } 
        @include sm {
            border: none;
            width: 24em;
            margin-top: 12em;
        }
        .container__adds {
            .adds__title {
                @include txtDegrade();
                position: absolute;
                top: -0.87em;
                right: 0.4em;
                @include hd {
                    right: 0.75em;
                }
                @include lg {
                    right: 0.7em;
                }
                @include sm {
                    top: -2.5em;
                    left: 0;
                    right: 0;
                    font-size: 3em;
                }
            }
            .adds__etIzq {
                position: absolute;
                width: 4em;
                left: -3.4em;
                bottom: 3em;
                @include sm {
                    display: none;
                }
            }
            .adds__etDer {
                position: absolute;
                width: 4em;
                right: -3.4em;
                top: 3em;
                @include sm {
                    display: none;
                }
            }

        }
        .container__skills {
            .skills__prof {
                display: grid;
                gap: 2em;
                position: relative;
                p {
                    @include sm {
                        padding: 0 0.6em;
                    }
                }
                    .prof__title {
                        text-transform: uppercase;
                        color: $txtScndColor;
                        font-weight: 700;
                        position: relative;
                }
                .prof__techs {
                    overflow: hidden;
                    height: 1.46em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1em;
                    ul {
                        animation: change 8s infinite;
                        li {
                            color: $txtScndColor;
                        }
                    }
                }
                .prof__logos {
                    display: flex;
                    justify-content: center;
                    gap: 0.5em;
                }
                .logos__img {
                    width: 3em;
                }
                .prof__lastObject {
                    margin: auto;
                }
            }
        }
    }
}


.prof__lastObject {
    width: 2.6em;
}