.project {

    &__logo {
        width: 13em;
        margin: auto;
    }
    &__title {
        font-weight: 700;
        font-size: 1.4em;
        color: $main-DColor;
        font-style: italic;
        margin: -1em auto 0.75em;
    }
    &__site {
        display: flex;
        justify-content: center;
        gap: 0.3em;
    }
    &__description {
        margin: 2.5em 0;
        padding: 0 2.3em;
        min-height: 10em;
        line-height: 1.45em;
        color: $scnd-DColor;
        @include hd {
            margin: 1.5em 0;
        }
        @include md {
            padding: 0 1em;
        }
        @include sm {
            padding: 0 4em;
        }
        @include xs {
            padding: 0 1.5em;
        }
        .project__link {
            color: $main-DColor !important;
            &:hover {
                color: $hover-DColor;
            }
        }
        i {
            font-style: italic;
        }
        li {
            list-style-type: initial;
            margin: 0.3em 0;
        }
    }
    &__details {
        display: flex;
        justify-content: space-around;
    }
    h4 {
        color: $scnd-DColor;
        .details__rol {
            color: $main-DColor;
        }
    }


}

