.about {
    height: 100vh;
    position: relative;
    z-index: 1;
    .aboutme__container {
        display: grid;
        grid-template-rows: 6em auto auto;
        grid-template-columns: 37%;
        gap: 3em;
        place-content: center;
        padding: 5em 0;
        margin-top: 3em;
        @include hd {
            grid-template-columns: 57%;
            gap: 1.5em
        }
        @include lg {
            grid-template-columns: 71%;
        }
        @include md {
            margin-top: 6vh;
            grid-template-columns: 46%;
            gap: 3em;
            padding: 0;
        }
        @include sm {
            margin-top: 5em;
            grid-template-columns: 57%;
        }
        @include sm {
            margin-top: 7em;
            grid-template-columns: 81%;
        }
        .container__title {
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            display: grid;
            place-content: center;
            .title__txt {
                @include txtDegrade();
                font-size: 6em;
                height: 15vh;
                display: grid;
                place-content: center;
                line-height: 1em;
                @include hd {
                    font-size: 4em;
                    height: 1em;
                }
                @include sm {
                    font-size: 3em;
                    height: initial;
                }
                .txt__pc {
                    @include hd {
                        display: none;
                    }
                }
                .txt__mobile {
                    display: none;
                    @include hd {
                        display: block;
                    }
                }
            }
            .media__nav {
                position: absolute; 
                width: 9em;
                top: -4.5em;
                left: 28.3em;
            }
            .custom__animation {
                animation: ship-move;
                animation-duration: 8s !important;
                animation-iteration-count: infinite; 
            }
        }
        .container__about {
            display: flex;
            justify-content: space-between;
            p {
                color: $main-DColor;
            }
            .about__cv {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                a {
                    height: 2em;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 1em;
                    background: rgb(8 9 19 / 25%);
                    border-radius: 0.75em;
                    padding: 1.5rem 1.5rem;
                    transition: 0.5s all;
                    .small-eye {
                        width: 1.75rem;
                    }
                }
                &:hover {
                    a {
                        color: #b0c8ff;
                        background: radial-gradient(72% 91% at 50% -43%, rgba(146, 186, 255, 0.3803921569) 0%, rgba(20, 26, 43, 0.49) 123%);
                        box-shadow: 0 0 0.5rem #8db7ff;
                    }
                }
            }
        }
            .description__info {
                display: flex;
                gap: 3em;
                color: $scnd-DColor;
                line-height: 1.6em;
                flex-direction: column;
                text-align: center;
                @include md {
                    flex-direction: column;
                    // text-align: center;
                }               
                .description__text {
                    width: 70%;
                    

                    @include md {
                        width: 100%;
                        padding: 0;
                    }
                    strong {
                        color: $main-DColor;
                        font-style: italic;
                    }
                }
                .statsMB {
                    width: 18em;
                    margin: auto;
                    display: none;
                    @include hd {
                        display: block;
                    }
                    @include sm {
                        width: 15em;
                    }
                }
            }
    }
}

