
.carousel__container {
    display: grid;
    place-content: center;
    text-align: center;
    overflow: hidden;
    @include lg {
        margin-top: 4em;
    } 

    .skills__container {
        border: 1px solid $scnd-DColor;
        height: 47vh;
        border: 0.03em solid transparent;
        border-image: linear-gradient(45deg, #8dabd0, #00275700, #2c61af00, #8dabd0, #bfbfbf00);
        border-image-slice: 1;
        border-radius: 1em;
        background: rgb(27 35 60 / 76%);
        position: relative;
        margin-top: 11em;
        width: 34em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include hd {
            width: 29em;
            height: 60vh;
            margin-top: 15vh;
        }
        @include lg {
            margin-top: 10%;
            height: 61vh;
        }
        @include md {
            margin-top: 3em;
            height: 50vh;
        } 
        @include sm {
            border: none;
            width: 24em;
            margin-top: 12em;
            background: none;
        }
        @include xs {
            height: 70vh;
        }
        .carousel__profs {
            @include sm {
                margin-top: -5em;
            }
        }
        .container__adds {
            .adds__title {
                @include txtDegrade();
                position: absolute;
                top: -1.5em;
                right: 0;
                left: 0;
                @include fhd {
                    left: 0;
                }
                @include hd {
                    top: -0.85em;
                }
                @include sm {
                    top: -2.5em;
                    left: 0;
                    font-size: 3em;
                }
            }
            .adds__etIzq {
                position: absolute;
                width: 4em;
                left: -3.4em;
                bottom: 3em;
                @include sm {
                    display: none;
                }
            }
            .adds__etDer {
                position: absolute;
                width: 4em;
                right: -3.4em;
                top: 3em;
                @include sm {
                    display: none;
                }
            }
        }
    }
}

    
